<f:layout name="Default" />
<f:section name="main">

    <f:for each="{oButtons}" as="oButton" iteration="i">
        <f:if condition="{oButton.additionalParams} != ''">
            <f:then>
                <f:link.typolink parameter="{oButton.link}"
                                 class="btn {oButton.classColor} {oButton.classSize} {oButton.classAdditional} {f:if(then: 'btn-block', else: '', condition: oButton.justify)}"
                                 additionalParams="{oButton.additionalParams}"
                                 additionalAttributes="{alt: '{oButton.alternative}', title: '{oButton.title}'}">
                    <f:if condition="{oButton.classGlyphicon} != ''">
                        <span class="glyphicon glyphicon-{oButton.classGlyphicon}" aria-hidden="true"></span>
                    </f:if>
                    {oButton.value}
                </f:link.typolink>
            </f:then>
            <f:else>
                <f:link.typolink parameter="{oButton.link}"
                                 class="btn {oButton.classColor} {oButton.classSize} {oButton.classAdditional} {f:if(then: 'btn-block', else: '', condition: oButton.justify)}"
                                 additionalAttributes="{alt: '{oButton.alternative}', title: '{oButton.title}'}">
                    <f:if condition="{oButton.classGlyphicon} != ''">
                        <span class="glyphicon glyphicon-{oButton.classGlyphicon}" aria-hidden="true"></span>
                    </f:if>
                    {oButton.value}
                </f:link.typolink>
            </f:else>
        </f:if>

    </f:for>

</f:section>

